*{
    position: relative;
    min-height: 100%;
    line-height: 1.15;
    font-family: sans-serif;
}
.firstText{
    margin-left: 100px;
    margin-right: 180px;
    padding: 40px 0px 55px;
    position: relative;
    width: 585px;
    z-index: 3;
}
.firstText1{
    line-height: 92px;
    font-size: 84px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.2px;
    font-weight: 600;
}
.firstP{
    line-height: 28px;
    font-size: 20px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.1px;
    margin-bottom: 25px;
    margin-top: 24px;
}
.container1{
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 1400px;
    position: relative;
    width: 100%;
}
.pic1{
    height: 497px;
    width: 459px;
    margin-bottom: 32px;
    margin-right: 24px;
    margin-top: 32px;
}
.container2{
    background-color: rgb(245 245 245);
    min-height: 299px;
    width: 100%;
}
.text2{
    margin-top: 15px;
    padding-top: 60px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin-bottom: 50px;
}
.text22:hover{
    margin-top: 15px;
    padding-top: 60px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(0, 86, 210);; /* Параметры линии под текстом */
}
.company{
    text-align: center;
    justify-content: space-between;
}
.comp{
    margin: 15px;
}
.container3{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
    text-align: left;
}
.qwe{
    line-height: 28px;
    font-size: 20px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: rgb(56, 45, 139);
    font-weight: 600;
    margin-bottom: 16px;
}
.qwe1{
    line-height: 52px;
    font-size: 44px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: rgb(31, 31, 31);
    font-weight: normal;
    margin-bottom: 16px;
}
.qwe2{
    line-height: 28px;
    font-size: 20px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: rgb(31, 31, 31);
    font-weight: normal;
    margin-bottom: 32px;
}
.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(189, 189, 189);
    color: rgb(255, 255, 255);
    padding-top: -50px;
}
.qwer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 132px;
    background-image: linear-gradient(135deg, rgb(4, 96, 130), rgb(4, 96, 130));
    transform: skewY(-10deg);
}
.qwer2{
    width: 69px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.qwer1{
    position: absolute;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}
.card-text1{
    position: relative;
    margin-top: 12px;
    z-index: 1;
    padding: 0.75rem 1.5rem;
    border-color: rgb(189, 189, 189);
    color: rgb(255, 255, 255);
}
.lalala{
    height: 245px;
    text-align: left;
    position: relative;
    width: 268px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: rgb(31 31 31) 0px 1px 6px, rgb(31 31 31) 0px 1px 4px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
}

